.footer {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  margin-top: 68px;
  margin-bottom: 60px;
}

.footer__text {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-left: 19px;
  }
}

@media screen and (max-width: 610px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin-top: 50px;
    margin-bottom: 36px;
  }
}
